body{
  background-color: #adb1b2;
  text-align: center;
}

#inputForm{
  display: block;
  width: 500px;
  margin: auto;
}

form + fieldset{
  display: block;
    width: 500px;
    margin: auto;
}

form input {
    border: 0;
    padding: 1em;
    border-radius: 8px;
    width: 60%;
    margin-top: 1em;
}

input[type=submit]{
  width: 100px;
  background-color: #9d6fd0;
}

fieldset > p {
  font-size: 20px;
  color:whitesmoke;
}